<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="world_config_path" default="$(find semantics_manager)/config/config.yaml"/>

  <arg name="require_imgs" default="True"/>
  <arg name="use_gps_stamp" default="False"/>
  <arg name="ros_pub_period_ms" default="30000"/>
  <arg name="keyframe_pub_period_ms" default="2000"/>
  <arg name="pgo_thread_period_ms" default="1000"/>
  <arg name="stereo_thread_period_ms" default="1000"/>
  <arg name="map_thread_period_ms" default="5000"/>
  <arg name="keyframe_dist_thresh_m" default="5"/>
  <arg name="use_semantics" default="True"/>
  <arg name="semantics_colored" default="False"/>

  <arg name="pose_graph_between_sigmas_pos" default="0.05"/>
  <arg name="pose_graph_between_sigmas_rot" default="0.05"/>
  <arg name="pose_graph_gps_sigmas" default="0.5"/>
  <arg name="pose_graph_gps_sigma_per_sec" default="0.5"/>
  <arg name="pose_graph_fix_scale" default="False"/>
  <arg name="pose_graph_num_frames_init" default="5"/>
  <arg name="pose_graph_num_frames_opt" default="30"/>

  <arg name="rectifier_calib_path" default="$(find asoom)/config/titan_wide.yaml"/>
  <arg name="rectifier_scale" default="0.5"/>

  <arg name="stereo_use_sgbm" default="False"/>
  <arg name="stereo_min_disparity" default="1"/>
  <arg name="stereo_num_disparities" default="80"/>
  <arg name="stereo_block_size" default="9"/>
  <arg name="stereo_P1_coeff" default="1"/>
  <arg name="stereo_P2_coeff" default="3"/>
  <arg name="stereo_disp_12_map_diff" default="0"/>
  <arg name="stereo_pre_filter_cap" default="35"/>
  <arg name="stereo_uniqueness_ratio" default="10"/>
  <arg name="stereo_speckle_window_size" default="100"/>
  <arg name="stereo_speckle_range" default="20"/>
  <arg name="stereo_filter_min_depth" default="20"/>
  <arg name="stereo_filter_max_depth" default="120"/>

  <arg name="map_buffer_size_m" default="50"/>
  <arg name="map_req_point_density" default="100"/>
  <arg name="map_dist_for_rebuild" default="10"/>
  <arg name="map_ang_for_rebuild" default="0.1"/>

  <node pkg="asoom" type="asoom_node" name="asoom" output="$(arg output)">
    <!-- Remappings -->
    <remap from="~pose" to="/orbslam3_ros_node/pose"/>
    <remap from="~gps" to="/ublox/fix"/>
    <remap from="~img" to="/ovc/rgb/image_color"/>

    <!-- Params -->
    <param name="world_config_path" value="$(arg world_config_path)"/>

    <param name="require_imgs" value="$(arg require_imgs)"/>
    <param name="use_gps_stamp" value="$(arg use_gps_stamp)"/>
    <param name="ros_pub_period_ms" value="$(arg ros_pub_period_ms)"/>
    <param name="keyframe_pub_period_ms" value="$(arg keyframe_pub_period_ms)"/>
    <param name="pgo_thread_period_ms" value="$(arg pgo_thread_period_ms)"/>
    <param name="stereo_thread_period_ms" value="$(arg stereo_thread_period_ms)"/>
    <param name="map_thread_period_ms" value="$(arg map_thread_period_ms)"/>
    <param name="keyframe_dist_thresh_m" value="$(arg keyframe_dist_thresh_m)"/>
    <param name="use_semantics" value="$(arg use_semantics)"/>
    <param name="semantics_colored" value="$(arg semantics_colored)"/>

    <param name="pose_graph_between_sigmas_pos" value="$(arg pose_graph_between_sigmas_pos)"/>
    <param name="pose_graph_between_sigmas_rot" value="$(arg pose_graph_between_sigmas_rot)"/>
    <param name="pose_graph_gps_sigmas" value="$(arg pose_graph_gps_sigmas)"/>
    <param name="pose_graph_gps_sigma_per_sec" value="$(arg pose_graph_gps_sigma_per_sec)"/>
    <param name="pose_graph_fix_scale" value="$(arg pose_graph_fix_scale)"/>
    <param name="pose_graph_num_frames_init" value="$(arg pose_graph_num_frames_init)"/>
    <param name="pose_graph_num_frames_opt" value="$(arg pose_graph_num_frames_opt)"/>

    <param name="rectifier_calib_path" value="$(arg rectifier_calib_path)"/>
    <param name="rectifier_scale" value="$(arg rectifier_scale)"/>

    <param name="stereo_use_sgbm" value="$(arg stereo_use_sgbm)"/>
    <param name="stereo_min_disparity" value="$(arg stereo_min_disparity)"/>
    <param name="stereo_num_disparities" value="$(arg stereo_num_disparities)"/>
    <param name="stereo_block_size" value="$(arg stereo_block_size)"/>
    <param name="stereo_P1_coeff" value="$(arg stereo_P1_coeff)"/>
    <param name="stereo_P2_coeff" value="$(arg stereo_P2_coeff)"/>
    <param name="stereo_disp_12_map_diff" value="$(arg stereo_disp_12_map_diff)"/>
    <param name="stereo_pre_filter_cap" value="$(arg stereo_pre_filter_cap)"/>
    <param name="stereo_uniqueness_ratio" value="$(arg stereo_uniqueness_ratio)"/>
    <param name="stereo_speckle_window_size" value="$(arg stereo_speckle_window_size)"/>
    <param name="stereo_speckle_range" value="$(arg stereo_speckle_range)"/>
    <param name="stereo_filter_min_depth" value="$(arg stereo_filter_min_depth)"/>
    <param name="stereo_filter_max_depth" value="$(arg stereo_filter_max_depth)"/>

    <param name="map_buffer_size_m" value="$(arg map_buffer_size_m)"/>
    <param name="map_req_point_density" value="$(arg map_req_point_density)"/>
    <param name="map_dist_for_rebuild" value="$(arg map_dist_for_rebuild)"/>
    <param name="map_ang_for_rebuild" value="$(arg map_ang_for_rebuild)"/>
  </node>
</launch>
