<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="image_transport" type="republish" name="republish" output="screen" args="compressed in:=/ovc/rgb/image_color out:=/asoom/img"/>
  <!--node pkg="image_proc" type="image_proc" ns="/ovc/bonus_left/left" name="colorize"/-->

  <node pkg="orbslam3_ros" type="orbslam3_ros_node" name="orbslam3_ros_node" output="screen">
    <param name="vocab_path" value="/home/ian/Repos/ORB_SLAM3/Vocabulary/ORBvoc.txt"/>
    <param name="settings_path" value="$(find orbslam3_ros)/config/GQ.yaml"/>
    <param name="show_viz" value="False"/>

    <remap from="~image" to="/asoom/img"/>
  </node>

  <node pkg="asoom" type="asoom_node" name="asoom" output="screen">
    <param name="require_imgs" value="True"/>
    <param name="use_semantics" value="True"/>
    <param name="semantic_lut_path" value="$(find asoom)/config/semantic_lut.yaml"/>
    <param name="pose_graph_fix_scale" value="False"/>
    <param name="keyframe_dist_thresh_m" value="1"/>

    <param name="rectifier_calib_path" value="$(find asoom)/config/grace_quarters.yaml"/>
    <remap from="~pose" to="/orbslam3_ros_node/pose"/>
    <remap from="~gps" to="/ublox/fix"/>
    <!--param name="rectifier_calib_path" value="$(find asoom)/config/aerial_pennov.yaml"/>
    <remap from="~pose" to="/sfm_pose"/>
    <remap from="~img" to="/ovc/bonus_left/left/image_color"/>
    <remap from="~sem" to="/ovc/bonus_left/left/image_label"/-->
  </node>

  <node pkg="image_publisher" type="image_publisher" name="map_image_publisher" args="$(find asoom)/maps/grace_quarters.png">
    <param name="frame_id" value="map_img"/>
    <param name="flip_horizontal" value="false"/>
    <param name="publish_rate" value="1"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="384110.00 4356585.69 -3 0 0 0 1 utm map_img" />
</launch>
